* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, Poppins;
}
body {
  background-color: #161616;
  color: #f6f6f6;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: Roboto, Poppins;
}
li {
  list-style-type: none;
}
button,
a,
i {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #f0f0f0;
}
i {
  margin: auto !important;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
section {
  background-color: #060606;
}
.navbar-box {
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0px;
}
.header {
  width: 100%;
  background-color: #161616;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-nav li {
  padding: 10px 15px;
  transition: 0.5s;
}
.navbar-nav {
  margin: 0px 5%;
}
.navbar-brand {
  font-weight: 800;
  font-size: 1.8rem;
  margin: 0px 20px;
}
.last a {
  background-color: #f6f6f6;
  color: #060606;
  border-radius: 20px;
  width: 150px;
  text-align: center;
  padding-left: 10px;
  font-weight: 300;
}
.navbar-nav li:hover {
  transform: translateY(-5px);
  transition: transform 0.5s;
}
/* intro */
.intro {
  margin-top: 80px;
  padding-bottom: 180px;
}
.intro-box {
  position: relative;
  height: 100vh;
  width: 100%;
}
.intro-content {
  position: absolute;
  z-index: 999;
  height: auto;
  width: 44%;
  max-width: 570px;
  top: 25%;
  left: 10%;
  background-color: rgba(255, 255, 255, 0);
}
.intro-title h1 {
  font-weight: 900;
  line-height: 130%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 100;
}
.intro-title {
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0);
}
.intro-content h5 {
  color: #ccc;
  line-height: 35px;
  padding-bottom: 30px;
}
.intro-content button {
  border: none;
  padding: 12px 20px;
  background-color: #f1f1f1;
  color: #000;
  border-radius: 25px;
  font-weight: 700;
  outline: none;
  transition: transform 0.5s;
}
.intro-content button:hover {
  transform: translateY(-5px);
  transition: transform 0.5s;
}
.intro-image {
  position: absolute;
  height: auto;
  width: 60%;
  right: 5%;
  top: 30px;
}
.frame {
  overflow: hidden;
  height: 500px;
  margin: 5%;
}
.frame img {
  height: 100%;
  object-fit: cover;
}
/* about */
.about {
  position: absolute;
  z-index: 2;
  width: 75%;
  bottom: -570px;
}
.about-box {
  height: auto;
  width: 100%;
  background-color: #00372d;
  height: 500px;
  display: flex;
  justify-content: center;
}
.about-content {
  margin-top: 8%;
  height: auto;
  width: 85%;
}
.about-content h3 {
  font-weight: 700;
  padding: 20px 0px;
}
.about-item {
  display: flex;
  margin-top: 20px;
}
.about-item p {
  line-height: 30px;
  color: #bbb;
}
/* technology */
.technology-box {
  height: auto;
  margin: auto;
  position: relative;
  background-color: #060606;
}
.tech-title {
  width: 100%;
  margin: auto;
  padding: 400px 0px 50px 0px;
  text-align: center;
}
.tech-title p {
  font-size: 70px;
  font-weight: 900 !important;
  letter-spacing: 10px;
  color: #414141;
  text-transform: uppercase;
}
.tech-list {
  width: 85%;
  display: flex;
  margin: auto;
  flex-direction: column;
}
.tech-item {
  display: flex;
  padding: auto;
}
.tech-image {
  height: 450px;
  overflow: hidden;
}
.tech-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}
.tech-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 15px;
}
.tech-content h3 {
  font-weight: 500;
  padding: 40px 0px 15px 0px;
  line-height: 140%;
}
.tech-content p {
  font-weight: 200;
  color: #bbb;
}
.tech-button {
  display: flex;
  text-transform: uppercase;
  margin-top: 20px;
}
.tech-button p {
  font-size: 0.8rem;
  letter-spacing: 2px;
  margin: auto 30px auto 0px;
}
.tech-button div {
  display: flex;
  border: solid 1px #ddd;
  border-radius: 50%;
  justify-content: center;
  height: 40px;
  width: 40px;
  align-items: center;
  transition: transform 0.5s;
}
.tech-button div:hover {
  transform: translateX(5px);
  transition: transform 0.5s;
}
.tech-button i {
  color: #aaa;
}
/* partner */
.partner {
  padding-top: 200px;
  width: 100%;
}
.partner-box {
  background-color: #161616;
  width: 92%;
  margin-left: 8%;
}
.partner-box h2 {
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding-top: 150px;
}
.partner-content {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  margin-left: 80px;
}
.partner-content div {
  height: auto;
  margin: 40px;
}
.partner-content div img {
  width: 100%;
  object-fit: contain;
  height: 80px;
}
/* team */
.team {
  padding: 120px 0px 0px 7%;
}
.team-box {
  display: flex;
}
.team-box h3 {
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
}
.team-persons {
  display: flex;
  flex-wrap: wrap;
}
.team-item {
  margin: 20px;
  text-align: center;
}
.team-face {
  height: 185px;
  width: 185px;
  border-radius: 50%;
  overflow: hidden;
  background-color: violet;
  margin: auto;
}
.team-face img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.team-infor {
  text-align: center;
}
.team-infor h5 {
  margin: 30px 0px 15px 0px;
}
.team-infor p {
  text-transform: uppercase;
  color: #999;
  letter-spacing: 3px;
  font-size: 0.7rem;
  margin-bottom: 30px;
}
/* explore */
.explore {
  background-color: #00372d;
}
.explore-box {
  display: flex;
  justify-content: flex-start;
  padding: 150px 100px 100px 100px;
}
.explore-box h3 {
  max-width: 500px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  line-height: 160%;
  margin: 10px 8% 10px 10px;
}
.explore-person {
  display: flex;
  text-align: center;
}
.explore-face {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
}
.explore-face img {
  height: 180%;
  width: 180%;
  object-fit: cover;
  object-position: -40px -30px;
}
.explore-infor {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.explore-infor p {
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #999;
  letter-spacing: 3px;
}
.description {
  margin-top: 30px;
  color: #bbb;
  line-height: 200%;
  width: 90%;
  padding-bottom: 80px;
}
.carousel {
  position: relative;
}
.nextandprev {
  position: absolute;
  top: 20px;
  right: 100px;
  width: 120px;
  display: flex;
  justify-content: space-around;
}
.carousel-control {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid 1px #999;
  font-size: 1.2rem;
  transition: transform 0.5s;
}
.carousel-control-next:hover {
  transform: translateX(10px);
  transition: transform 0.5s;
}
.carousel-control-prev:hover {
  transform: translateX(-10px);
  transition: transform 0.5s;
}
.carousel-indicators {
  justify-content: flex-start;
  margin-left: 0px;
}
.carousel-indicators li {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
/* news */
.news-box {
  padding: 100px 0px 100px 100px;
  position: relative;
}
.news-box h3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
}
.control {
  position: absolute;
  top: 100px;
  right: 200px;
  display: flex;
  width: 200px;
  text-align: center;
  justify-content: flex-end;
}
.control div {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #666;
  transition: transform 0.5s;
}
#news-prev:hover {
  transform: translateX(-10px);
}
#news-next:hover {
  transform: translateX(10px);
}
.slick-slide {
  padding-top: 50px;
}
.news-image {
  height: 250px;
  width: 390px;
  overflow: hidden;
}
.news-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.news-inf {
  width: 90%;
  margin-top: 30px;
}
.news-inf h5 {
  width: 100%;
  line-height: 150%;
  margin: 10px 0px;
}
.view-more {
  display: flex;
  text-transform: uppercase;
  margin-top: 30px;
  width: 30%;
}
.view-more i {
  color: #999;
}
.view-more p {
  margin-bottom: auto;
  color: #999;
  font-size: 0.7rem;
  letter-spacing: 3px;
}
/* footer */
.footer {
  background-color: #161616;
}
.footer-box {
  display: flex;
  padding: 100px;
  justify-content: space-between;
}
.footer-box div h2 {
  margin-bottom: 30px;
}
.footer-first h3 {
  font-weight: 300;
  line-height: 150%;
}
.contact-button {
  margin-top: 40px;
  display: flex;
  font-size: 0.7rem;
  letter-spacing: 3px;
}
.contact-button div {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  transition: transform 0.5s;
}
.contact-button div i {
  font-size: 1.2rem;
}
.contact-button div:hover {
  transform: translateX(10px);
  transition: transform 0.5s;
}
.contact-button p {
  margin: auto 20px auto 0px;
}
.footer-second {
  color: #999;
}
.footer-second h2 {
  font-weight: 700;
  letter-spacing: 5px;
}
.footer-second div a {
  margin: 20px 80px 20px 0px;
  color: #bbb;
  padding-bottom: 2px;
  border-bottom: solid 1px #bbb;
}
.footer-second p {
  padding-top: 30px;
}
.icon {
  margin-top: 50px;
  font-size: 1.2rem;
}
.icon i {
  padding-right: 30px;
}
.author {
  margin-left: 100px;
  color: #999;
  font-size: 0.7rem;
}
