*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto,Poppins;
}
body{
    background-color:#161616;
    color:#f6f6f6;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:#f0f0f0;
}
a:hover{
    color:#fff;
}
.navbar-box{
    padding:0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0px;
}
.header{
    width: 100%;
    background-color:#161616;
}
.navbar-nav li{
    padding: 10px 15px;
    transition: 0.5s;
}
.navbar-nav{
    margin:0px 5%;
}
.navbar-brand{
    font-weight: 900;
    font-size: 1.8rem;
}
.last a{
    background-color: #f6f6f6;
    color: #060606;
    border-radius: 20px;
    width:150px;
    text-align: center;
    padding-left: 10px;
}
.navbar-nav li:hover{
    transform: translateY(-5px);
    transition: transform 0.5s;
}
/* intro */
.intro{
    margin-top: 80px;
    padding-bottom: 180px;;
}
.intro-box{
    position: relative;
    height:100vh;
    width: 100%;
}
.intro-content{
    position:absolute;
    z-index: 999;
    height: auto;
    width: 44%;
    top:25%;
    left:10%;
    background-color: rgba(255,255, 255,0);

}
.intro-title h1{
    font-weight: 900;
    line-height: 130%;
    background-color: rgba(255,255, 255,0);
    z-index: 100;
}
.intro-title{
    padding-bottom: 20px;
    background-color: rgba(255,255, 255,0);
}
.intro-content h5{
    color:#ccc;
    line-height:35px;
    padding-bottom: 30px;
}
.intro-content button{
    border:none;
    padding:12px 20px;
    background-color: #f1f1f1;
    color: #000;
    border-radius:25px;
    font-weight: 700;
}
.intro-image{
    position: absolute;
    height:auto;
    width: 60%;
    right: 5%;
    top: 30px;
}
.frame{
    width: 90%;
    overflow: hidden;
    height: 500px;
    margin:5%;
}
.frame img{
    height:100%;
    object-fit: cover;
   
}
/* about */
.about{
    position: absolute;
    z-index: 2;
    width: 75%;
    bottom:-570px;
}
.about-box{
    height:auto;
    width:100%;
    background-color:#00372D;
    height:500px;
    display: flex;
    justify-content: center;
}
.about-content{
    margin-top:8%;
    height:auto;
    width:85%;
}
.about-content h3{
    font-weight: 700;
    padding:20px 0px;
}
.about-item{
    display: flex;
    margin-top: 20px;
}
.about-item p{
    line-height: 30px;
    color: #bbb;
}


.technology-box{
    height:1000px;
    background-color:#060606;
}